.product-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
}

.product {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 700px;
  height: 700px;
}

.product-first-row {
  display: flex;
  gap: 50px;
  align-items: center;
}

.product img {
  width: 400px;
  height: 400px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.product-title, .product-description-title {
  font-weight: 500;
}

.product-second-row {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.add-to-cart-button {
  background-color: black;
  color: white;
  border: none;
  padding: 12px 0px;
  font-size: 16px;
  border-radius: 20px;
  transition: background-color 0.15s;
}

.add-to-cart-button:hover {
  background-color: rgb(84, 84, 84);
}

.add-to-cart-button:active {
  box-shadow: inset 0px 0px 5px white;
  opacity: 0.9;
}

@media (max-width: 600px) {
  .product img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 500px) {
  .product img {
    width: 180px;
    height: 180px;
  }

  .product-info {
    gap: 25px;
  }

  .add-to-cart-button {
    font-size: 13px;
    padding: 8px 0px;
  }
}

@media (max-width: 300px) {
  .product-first-row {
    gap: 20px;
  }

  .product {
    font-size: 13px;
  }

  .product img {
    width: 150px;
    height: 150px;
  }
}
