.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;

  display: flex;
  align-items: center;

  border-bottom: 1px solid rgb(206, 206, 206);
  background-color: white;
  z-index: 1;
}

.navbar a {
  font-size: 23px;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.logo {
  height: 120px;
  width: 120px;
}


.collections-links {
  display: flex;
  gap: 20px;
  flex: 1;
  margin-left: 40px;
}

.cart-button {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  right: 25px;
}

.cart-items-count {
  position: absolute;
  top:  -8px;
  right: -3px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  width: 22px;
  height: 22px;
  background-color: rgb(216, 2, 2);
  color: white;
  font-size: 12px;
}

@media (max-width: 500px) {
  .logo {
    height: 90px;
    width: 90px;
  }

  .navbar a {
    font-size: 20px;
  }

  .collections-links {
    gap: 10px;
    margin-left: 20px;
  }
}

@media (max-width: 300px) {
  .logo {
    height: 70px;
    width: 70px;
  }

  .collections-links {
    gap: 8px;
    margin-left: 15px;
  }

  .navbar a {
    font-size: 15px;
  }

  .cart-button {
    font-size: 23px;
    right: 15px;
  }

  .cart-items-count {
    font-size: 10px;
    width: 18px;
    height: 18px;
  }
}