.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;

  display: flex;
  align-items: center;

  border-bottom: 1px solid rgb(206, 206, 206);
  background-color: white;
  z-index: 1;
}

.navbar a {
  font-size: 23px;
  text-decoration: none;
  font-weight: 500;
  color: black;
}

.logo {
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.collections-links {
  display: flex;
  gap: 20px;
  flex: 1;
}

.cart-button {
  margin-right: 30px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 30px;
  cursor: pointer;
}